body {
    /* max-width: fit-content;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    max-width: 100vw;
    margin: 0;
}

.container {
    /* border: 1px solid black; */
    width: 75vw;
    height: 100vh;
}

header {
    border-bottom: 1px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
}

.container header input {
    margin-left: 30px;
    background-color: brown;
}
nav {
    /* border: 1px solid black; */
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.logo {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: gray;
}

.utente {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    background-color: gray;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 3px;
}

main {
    /* border: 1px solid black; */
    height: 80vh;
}
aside {
    /* border: 1px solid black; */
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

aside div {
    width: 60%;
    height: 50px;
    /* border: 1px solid black; */
    margin-top: 50px;
    background-color: azure;
}

@media screen and (max-width: 400px) {
    body{
        flex-direction: column;
    }
    
    aside, main {
        display: none;
    }

    nav {
        height: 8vh;
        width:100vw;
    }

    .container header{
        height: 82vh;
        width:100vw;
    }

    .utente {
        align-self: flex-start;
        margin-left: 20px;
    }
    .container header input {
        margin-top: 50px;
        align-self: flex-start;
        justify-self: flex-start
    }


    /* .logo {
        position: absolute;
        bottom: 20px;
        right: 20px
    } */
}